Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: yarn run eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

update
  .github/workflows/deploy.yml
Due: none

update libs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update libs
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update
  Gemfile
  Gemfile.lock
Due: bundle-check

update
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Start migration to Astro
  package.json
  src/components/BaseHead.astro
  src/pages/about.astro
  src/pages/archive.xml.js
  src/pages/index.astro
  src/pages/rss/styles.xsl.js
  src/pages/rss/styles.xsl.liquid
  src/styles/app.css
  src/utils/helpers.js
  src/utils/initial-client.js
  src/utils/initial-server.js
  src/utils/liquid.js
  yarn.lock
Due: eslint

Start migration to Astro
  src/pages/rss/styles.xsl.js
Due: eslint

gen posts
  src/utils/helpers.js
Due: eslint

gen posts
  .github/workflows/deploy.yml
Due: none

gen posts
  src/pages/about.astro
  src/pages/index.astro
  src/pages/rss/styles.xsl.js
  src/pages/rss/styles.xsl.liquid
  src/utils/helpers.js
Due: eslint

add utils
  src/utils/dom.js
  src/utils/keyBy.js
  src/utils/memoize.js
Due: eslint

add remark addon
  astro.config.mjs
  package.json
  plugins/astro/swPlugin.mjs
  plugins/remark/readmore.mjs
  src/utils/helpers.js
  src/utils/keyBy.js
  yarn.lock
Due: eslint

add remark addon
  plugins/remark/readmore.mjs
Due: none

fix
  package.json
  plugins/remark/readmore.mjs
  src/utils/helpers.js
  yarn.lock
Due: eslint

fix render
  package.json
  plugins/remark/readmore.mjs
  src/utils/helpers.js
  yarn.lock
Due: eslint

fix render
  src/pages/archive.xml.js
  src/pages/posts/[pubYear]/[pubMonth]/[pubDay]/[slug].astro
  src/pages/rss.xml.js
  src/utils/helpers.js
Due: eslint

fix render
  src/pages/archive.xml.js
  src/pages/rss.xml.js
  src/utils/helpers.js
Due: eslint

fix month
  src/utils/helpers.js
Due: eslint

fix sort
  src/utils/helpers.js
Due: eslint

add svelte
  public/images/styles/main_bg.png
  src/components/Footer.astro
  src/components/Head.astro
  src/components/HeadAnalytic.astro
  src/components/Header.astro
  src/components/HeaderMenu.svelte
  src/layouts/app.astro
  src/pages/404.astro
  src/pages/about.astro
  src/styles/app.css
  src/styles/layout.css
  src/styles/typography.css
  src/utils/helpers.js
  src/utils/initial-server.js
  src/utils/svelte-stores.js
Due: eslint

split by files
  src/components/Head.astro
  src/components/Header.astro
  src/components/HeaderMenu.svelte
  src/pages/about.astro
  src/pages/archive.xml.js
  src/pages/index.astro
  src/pages/posts/[pubYear]/[pubMonth]/[pubDay]/[slug].astro
  src/pages/rss.xml.js
  src/pages/rss/styles.xsl.js
  src/utils/content.js
  src/utils/initial-client.js
  src/utils/links.js
  src/utils/posts.js
  src/utils/rss.js
Due: eslint

split by files
  src/utils/initial-client.js
Due: eslint

add rss file
  src/components/Header.astro
  src/pages/rss-aac.xml.js
  src/utils/posts.js
  src/utils/rss.js
Due: eslint

add rss file
  src/utils/rss.js
Due: eslint

add footer
  src/components/Footer.astro
  src/components/Header.astro
  src/pages/podcasts.astro
  src/styles/layout.css
  src/styles/typography.css
Due: none

start main page
  package.json
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostBlock.astro
  src/components/Sidebar.astro
  src/layouts/app.astro
  src/pages/api/podcasts.json.js
  src/pages/api/search-index.json.js
  src/pages/archives/[...page].astro
  src/pages/index.astro
  src/pages/podcasts.astro
  src/pages/podcasts/[...page].astro
  src/styles/layout.css
  src/styles/typography.css
  src/utils/posts.js
  yarn.lock
Due: eslint

add main view
  astro.config.mjs
  package.json
  src/components/Header.astro
  src/components/MainPost.astro
  src/components/Sidebar.astro
  src/pages/index.astro
  src/pages/posts/[pubYear]/[pubMonth]/[pubDay]/[slug].astro
  src/styles/typography.css
  yarn.lock
Due: none

separate svg component
  src/components/Footer.astro
  src/components/Header.astro
  src/components/MainPost.astro
  src/components/Sidebar.astro
  src/components/SvgIcon.astro
  src/layouts/app.astro
  src/pages/archive.xml.js
  src/styles/layout.css
Due: eslint

header
  .eslintrc
  package.json
  src/components/Header.astro
  src/components/MainPost.astro
  src/components/PostHead.astro
  src/layouts/app.astro
  src/pages/index.astro
  src/pages/posts/[pubYear]/[pubMonth]/[pubDay]/[slug].astro
  src/styles/layout.css
  src/utils/rss.js
  yarn.lock
Due: eslint

typos
  .eslintrc
  package.json
  src/components/HeadAnalytic.astro
  src/components/Header.astro
  src/components/PostHead.astro
  src/components/Sidebar.astro
  src/layouts/app.astro
  src/pages/podcasts/[...page].astro
  src/pages/posts/[pubYear]/[pubMonth]/[pubDay]/[slug].astro
  yarn.lock
Due: none

typos
  .eslintrc
  lefthook.yml
  package.json
Due: none

posts
  .eslintrc
  src/components/BottomPosts.astro
  src/components/MainPost.astro
  src/components/PostBlock.astro
  src/components/Sidebar.astro
  src/pages/index.astro
Due: none

add pages
  src/components/BottomPosts.astro
  src/components/Pages.astro
  src/components/TopPosts.astro
  src/pages/archives/[...page].astro
  src/pages/podcasts/[...page].astro
Due: none

make about
  src/components/Head.astro
  src/components/MainPost.astro
  src/pages/about.astro
  src/pages/archives/[...page].astro
  src/pages/podcasts/[...page].astro
Due: none

make about
  src/pages/about.astro
  src/styles/layout.css
Due: none
